@font-face {
  font-family: "Magra";
  src: url(../assets/fonts/Magra-Regular.ttf);
}

@font-face {
  font-family: "Red Hat Text";
  src: url(../assets/fonts/RedHatText-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo-Regular.ttf);
}

.header_wrapper {
  width: 1440px;
  height: 765px;
  background-image: url(../assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
  height: 90px;
  background-color: rgba(242, 119, 92, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__container {
  height: 90px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-left: 2px;
  width: 220px;
  height: 31px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__logo_text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 6px;
  margin: 0 0;
  padding: 0 0;
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.header__nav {
  margin-left: -40px;
  width: 527px;
  height: 21px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav__href {
  text-decoration: none;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header__nav__href:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #01d6fc;
}

.header__nav__container {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__item {
  padding: 0 0;
  margin: 0 0;
  list-style: none;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  font-weight: 500;
}

.header__login {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__login_btn {
  width: 103px;
  height: 41px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}

.preview {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
  height: 425px;
}

.preview__trip-plan {
  width: 895px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.preview__trip-plan__title {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}

.preview__trip-plan__text {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.preview__trip-plan__input {
  margin-top: 11px;
  width: 892px;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.preview__trip-plan__input input {
  height: 22px;
  width: 560px;
  outline: none;
  border: 0;
  margin-left: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(190, 27, 27, 0);
  border-radius: 16px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__trip-plan__input input::-webkit-input-placeholder {
  margin-top: 5px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__trip-plan__input input:-ms-input-placeholder {
  margin-top: 5px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__trip-plan__input input::-ms-input-placeholder {
  margin-top: 5px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__trip-plan__input input::placeholder {
  margin-top: 5px;
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F2785C;
}

.preview__trip-plan__input__btn {
  margin-left: 43px;
  margin-top: 4px;
  width: 228px;
  height: 59px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.steps {
  width: 82%;
  height: 247px;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__title {
  margin: 0 0;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.steps__container {
  width: 100%;
  height: 155px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__container__item1 {
  width: 247px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__container__item1 img {
  margin-left: 37px;
}

.steps__container__item2 {
  margin-left: 70px;
  width: 225px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__container__item3 {
  width: 318px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps__container__item3 img {
  margin-left: 35px;
}

.steps__container__item__h3 {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.destinations {
  width: 100%;
  height: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destinations__title {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  margin: 18px auto;
  padding: 0 0;
}

.destinations__slider {
  margin-top: 27px;
  position: relative;
  left: -540px;
  width: 2520px;
  height: 802px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destinations__slider__item {
  width: 800px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-controls {
  width: 80px;
  height: 22px;
  margin: 24px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-controls__item {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #F2785C;
}

.passive {
  opacity: 50%;
}

.destinations__btn {
  margin-top: 15px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 228px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.destinations__btn img {
  margin-left: 12px;
}

.destinations__btn__txt {
  margin-right: 20px;
}

@font-face {
  font-family: "Magra";
  src: url(../assets/fonts/Magra-Regular.ttf);
}

@font-face {
  font-family: "Red Hat Text";
  src: url(../assets/fonts/RedHatText-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo-Regular.ttf);
}

.footer-wrapper {
  width: 100%;
  height: auto;
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stories {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stories__title {
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
}

.stories__wrapper {
  margin-top: 40px;
  width: 100%;
  height: 1329px;
  background-image: url(../assets/img/Rectangle27.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.stories__container__wrapper {
  width: 100%;
  height: 1269px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
}

.stories__container {
  width: 1200px;
  height: 1090px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories__container__item {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stories__container__item__img {
  width: 400px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
          filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories__container__item__text-container {
  width: 760px;
  height: 250px;
}

.stories__container__h2 {
  margin: 0 0;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0D606F;
}

.stories__container__p {
  margin: 24px 0;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.stories__container__item__a {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0D606F;
}

.stories__btn {
  margin-top: 0px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 228px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-self: center;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  letter-spacing: 1px;
}

.stories__btn img {
  margin-left: 19px;
}

.stories__btn__txt {
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__container {
  width: 729px;
  height: 34px;
  margin-right: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer_p {
  margin-left: 4px;
  width: 260px;
  height: 21px;
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer__social {
  width: 141px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@font-face {
  font-family: "Magra";
  src: url(../assets/fonts/Magra-Regular.ttf);
}

@font-face {
  font-family: "Red Hat Text";
  src: url(../assets/fonts/RedHatText-Regular.ttf);
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
  padding: 0 0;
  background-color: #FFFFFF;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.btn {
  cursor: pointer;
  background-color: #0D606F;
  border-radius: 10px;
  border: 0px;
  outline: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.btn:hover {
  -webkit-transition: .25s;
  transition: .25s;
  background-color: #01d6fc;
}
/*# sourceMappingURL=style.css.map */