@import "header";
@import "main";
@import "footer";


body{
  margin: 0 0;
  padding: 0 0;
}

.wrapper{
  width: 1440px;
  height: 3735px;
  margin: 0 auto;
  overflow: hidden;
}

.btn{
  cursor: pointer;
  background-color: $second_color;
  border-radius: 10px;
  border: 0px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}